.title{
    margin-top: 30px;
    margin-bottom: 30px;
}

.selectButton{
    letter-spacing: 30px;
}

/*#addData{
    position: fixed;
    margin-left: -200px;
    vertical-align: middle;
    width: 400px;
    left: 50%;
    border: 1px solid #;
}*/
